<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>User Data Analyzer</title>
  <link rel="stylesheet" href="../static/css/styles.css">
  <script src="../static/js/scripts.js"></script>
</head>
<body>
  <form>
    <label for="textSubmission">
      <h1>Enter JSON into the text field or upload a file and then press submit</h1>
    </label>
    <textarea id="textSubmission" name="w3review" rows="30" cols="200">
      Please use input similar to the results shown here -> https://randomuser.me/
    </textarea>
    <br>
    <input type="submit" value="Submit" />
    <input type="file" id="fileSubmission" />
  </form>
</body>
</html>
