<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>User Data Analyzer</title>
  <link rel="stylesheet" href="../static/css/styles.css">
  <script src="http://d3js.org/d3.v4.min.js" charset="utf-8"></script>
  <script src="../static/js/main.js"></script>
</head>
<body>
  <form onsubmit="return false">
    <label for="textSubmission">
      <h1>Enter JSON into the text field or upload a file and then press submit</h1>
    </label>
    <textarea id="textSubmission" rows="30" cols="200">
    Please use input similar to the results shown here -> https://randomuser.me/
    </textarea>
    <br>
    <input type="submit" value="Submit" onclick="handleSubmit()"/>
    <input type="file" id="fileSubmission" name="json_file" accept=".json" />
  </form>
</body>
</html>
